@font-face {
  font-family: 'icomoon';
  src:  url('./icomoon.eot?iq2dxy');
  src:  url('./icomoon.eot?iq2dxy#iefix') format('embedded-opentype'),
    url('./icomoon.ttf?iq2dxy') format('truetype'),
    url('./icomoon.woff?iq2dxy') format('woff'),
    url('./icomoon.svg?iq2dxy#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lock:before {
  content: "\e900";
  color: #90f9ad;
}
.icon-close:before {
  content: "\e901";
  color: #bec2c6;
}
.icon-guide:before {
  content: "\e902";
}
.icon-lender:before {
  content: "\e903";
}
.icon-signup:before {
  content: "\e904";
}
.icon-borrower:before {
  content: "\e905";
}
.icon-checkmark:before {
  content: "\e906";
}
