@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar-track {
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 3px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  background-color: #90F9AD;
}

body {
  background: #F8F9FA;
  font-family: 'Poppins', sans-serif;
  color: #343A40;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: auto;
}

.text_dark {
  color: #343A40;
}

.header {
  display: flex;
  flex-wrap: nowrap;
  padding: 25px 0;
  margin: 0 -15px;
  position: relative;
  
  &__logo {
    flex: 0 0 25%;
    max-width: 25%;
    padding: 0 15px;
    display: flex;
    align-items: center;
    
    .logo {
      height: 44px;
    }
  }
  
  &__navigation {
    flex: 0 0 67%;
    max-width: 67%;
    padding: 0 15px;
    display: flex;
    align-items: center;
    
    @media screen and(max-width: 1180px) {
      flex: none;
      display: block;
      max-width: 100%;
    }
  }
  
  &__auth {
    flex: 0 0 33%;
    max-width: 33%;
    padding-right: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and(max-width: 1180px) {
      flex: none;
      max-width: 100%;
      justify-content: initial;
    }
    
    .btn {
      margin-left: 15px;
    }
  }
  
  &__btn-menu {
    width: 24px;
    height: 20px;
    position: absolute;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
    right: 15px;
    top: calc(50% - 12px);
    display: none;
    
    @media screen and (max-width: 1180px) {
      display: block;
    }
    
    .btn-menu__line {
      display: block;
      position: absolute;
      height: 3px;
      width: 100%;
      background: #343A40;
      border-radius: 9px;
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .25s ease-in-out;
      -moz-transition: .25s ease-in-out;
      -o-transition: .25s ease-in-out;
      transition: .25s ease-in-out;
    }

    .btn-menu__line:nth-child(1) {
      top: 4px;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center;
    }

    .btn-menu__line:nth-child(2) {
      top: 10px;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center;
    }

    .btn-menu__line:nth-child(3) {
      top: 16px;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center;
    }
    
    &.header__btn-menu_open {
      .btn-menu__line:nth-child(1) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 0px;
        left: 0px;
      }

      .btn-menu__line:nth-child(2) {
        width: 0%;
        opacity: 0;
      }

      .btn-menu__line:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 17px;
        left: 0px;
      }
    }
  }
}

.menu-wrap {
  flex: 0 0 75%;
  max-width: 75%;
  display: flex;
  justify-content: space-between;

  @media screen and(max-width: 1180px) {
    position: absolute;
    width: 100%;
    flex: none;
    display: none;
    max-width: 100%;
    top: 100%;
    background: #fff;
    height: calc(100vh - 100px);
    z-index: 99;
  }
  
  &_open {
    @media screen and(max-width: 1180px) {
      display: block;
    }
  }
}

.nav {
  margin: 0;
  padding: 0;
  display: flex;
  
  @media screen and(max-width: 1180px) {
    display: block;
    padding: 24px 0;
  }
  
  &__item {
    list-style: none;
    margin-right: 34px;
  }
  
  &__link {
    color: #343A40;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;

    @media screen and(max-width: 1180px) {
      display: inline-block;
      padding: 8px 0;
    }
    
    &:hover {
      color: lighten(#343A40, 15%);
    }
  }
}

.btn {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  height: 44px;
  line-height: 44px;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  border-radius: 10px;
  justify-content: center;
  outline: none;
  background: transparent;
  border: none;
  margin: 0;
  padding: 0 24px;
  text-align: center;
  transition: .3s all;
  white-space: nowrap;
  
  i {
    margin-right: 6px;
    
    &.icon-close {
      font-size: 10px;
      margin-right: 8px;
    }

    &.icon-checkmark {
      font-size: 10px;
      margin-right: 8px;
    }
  }
  
  &_green {
    background-color: #90F9AD;
    color: #343A40;
    
    &:hover {
      background-color: darken(#90F9AD, 10%);
    }
  }
  
  &_dark {
    background-color: #343A40;
    color: #90F9AD;
    
    &:hover {
      background-color: darken(#343A40, 10%);
    }
  }

  &_white {
    background-color: #fff;
    color: #343A40;

    &:hover {
      background-color: darken(#fff, 10%);
    }
  }
  
  &_grey {
    background-color: #F8F9FA;
    color: #5D676F;

    &:hover {
      background-color: darken(#F8F9FA, 10%);
    }
  }
  
  &:disabled {
    background: #f3f4f5;
    color: #fff;
    cursor: initial;
  }
}

.main {
  margin: 52px 0;
  position: relative;
}

.block {
  padding: 42px;
  background: #fff;
  border-radius: 12px;
  max-width: 480px;
  margin: 0 auto;
  box-shadow: 1px 2px 15px 1px rgba(#343A40, .1);
  position: relative;
  margin-bottom: 42px;
  
  @media screen and(max-width: 767px) {
    padding: 24px;
  }
  
  &__button-close {
    position: absolute;
    right: 20px;
    top: 20px;
    background: transparent;
    font-size: 16px;
    line-height: 18px;
    padding: 0;
    margin: 0;
    outline: none;
    cursor: pointer;
    border: none;
    z-index: 3;
  }
  
  &__head {
    margin-bottom: 60px;
    position: relative;
    
    @media screen and(max-width: 1180px) {
      margin-bottom: 32px;
    }
    
     .head__h {
       font-size: 32px;
       line-height: 42px;
       padding: 12px 0;
       font-weight: 700;
       
       @media screen and(max-width: 767px) {
         font-size: 22px;
       }
    }
    
    .head__p {
      font-size: 14px;
      color: #BFC3C7;
    }

    .head__img {
      font-size: 36px;
      color: #e6eaee;
      position: absolute;
      right: 0;
      top: 6px;
    }
  }
  
  &__bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 42px;
    
    @media screen and(max-width: 767px) {
      flex-wrap: wrap;
    }
    
    &_disabled {
      position: relative;
      
      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        top: -92px;
        z-index: 2;
        background: linear-gradient(0deg, rgba(255,255,255, 0) 0%, rgba(255,255,255, 1) 60%, rgba(255,255,255,.3) 100%);
      }
    }
    
    .btn {
      padding: 0 34px;
      
      @media screen and(max-width: 767px) {
        flex: 0 0 100%;
        max-width: 100%;
      }
      
      &:first-child {
        @media screen and(max-width: 767px) {
          margin-bottom: 12px;
        }
      }

      &:last-child {
        @media screen and(max-width: 767px) {
          margin-bottom: 0px;
        }
      }
    }
  }
}

.modal-guide {
  padding: 42px;
  background-color: #90F9AD;
  border-radius: 12px;
  max-width: 480px;
  display: flex;
  flex-wrap: nowrap;
  margin: 0 auto;
  
  @media screen and(max-width: 767px) {
    flex-wrap: wrap;
    padding: 24px;
  }
  
  &__description {
    padding-left: 32px;
    display: flex;
    align-items: center;
    
    @media screen and(max-width: 767px) {
      width: 100%;
      order: -1;
      padding-left: 0;
      margin-bottom: 12px;
      text-align: center;
    }
  }
  
  .description__text {
    font-size: 12px;
  }
  
  &__button {
    
    @media screen and(max-width: 767px) {
      width: 100%;
    }
  }
  
  .btn {
    @media screen and(max-width: 767px) {
      width: 100%;
    }
  }
}

.terms {
  max-height: 270px;
  overflow-y: auto;
  padding-right: 10px;
  scrollbar-width: thin;
  scrollbar-color: #90F9AD #f5f5f5;
  font-size: 14px;
  
}

.loader {
  display: flex;
  justify-content: center;
  
  img {
    width: 42px;
    height: 42px;
  }
}
